.adminPanel {
  padding: 20px;

  margin: 0 auto;
  font-family: Arial, sans-serif;
  background: url('https://www.transparenttextures.com/patterns/black-thread.png') ;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  
}

.statusSection,
.uploadSection,
.usersSection,
.broadcastSection {
  margin-bottom: 30px;
  margin-left: 25%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 50%;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 15px;
}

.imageCard {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.imageThumbnail {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.usersTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.usersTable th,
.usersTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.usersTable th {
  background-color: #f2f2f2;
}

.adminPanel textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.adminPanel select {
  padding: 8px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
